<div class="container" ng-controller="SearchCtrl">
    <div class="row span12">
        <div >
            <form name="searchForm" ng-model="search">
                Search Query: <textarea name="searchQuery" ng-model="search.query" cols="100" rows="4" ></textarea>
                <button class="btn btn-primary" ng-click="refineSearch(search.query)">Search</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="span12" >
            <leaflet
                     testing="testing"
                     center="center"
                     markers="markers"
                     width="960px" height="700px" border="10px">
            </leaflet>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <p class="lead"><br/>{{stats.numResults}} Hotels</p>
            <table class="hotels table table-hover">
                <tr ng-repeat="hotel in hotels">
                    <td>{{hotel.name}}</td>
                    <td>{{hotel.description}}</td>
                    <td>{{hotel.starrating}}</td>
                    <td>{{hotel.custrating}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

